.clear-float:after {
	content: '';
	clear: both;
	display: block;
}

/* productList.jsp */
.product-list .product {
	float: left;
	width: 30%;
	text-align: center;
	cursor: pointer;
	margin-left:5%;
}
.product-list .product:first-child, .product-list .product:nth-child(3n+1){margin-left:0;}
.product-list .product .product-inner{}
.product-list .product .prd-img-thum{position:relative; padding-top:100%; border:1px solid #ddd; overflow:hidden;}
.product-list .product .prd-img-thum > span{position:absolute; top:0; left:0; bottom:0; right:0; transition:all 0.5s;}
.product-list .product:hover .prd-img-thum > span{transform:scale(1.1,1.1); transition:all 0.5s;}
.product-list .product .prd-img-thum > span img{max-width:100%;}
.product-list .product .prd-txt-thum{padding:15px 0; text-align:left;}
.product-list .product .prd-txt-thum h3{font-size:18px; line-height:30px; color:#2b2b2b; font-weight:500; width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin-bottom:5px;}
.product-list .product:hover .prd-txt-thum h3{color:rgba(254,67,30);}
.product-list .product .prd-txt-thum .price{font-size:13px; line-height:20px; margin-bottom:5px;}
.product-list .product .prd-txt-thum .price b{font-weight:500; font-size:16px; margin-left:3px;}
.product-list .product .prd-txt-thum .txt{font-size:13px; line-height:18px; color:#888; max-height:36px; overflow:hidden;}


/* productDetail.jsp */
 
.product .product-top div {float: left; width: 50%; text-align: center;}

.product .product-img img {padding: 30px 0;}

.product .product-info div {text-align:30px 0 0 0; text-align:left; width: 100%;}
.product .product-info div p {margin: 20px;}
.product .product-info div p:first-child {font-size: 40px;font-weight: bold;}
.product .product-info div p:nth-child(2) {font-size: 15px;margin-bottom:150px;}
.product .product-info div p:nth-child(3) {font-size: 20px;}
.product .product-info div p:nth-child(4), .product .product-info div p:nth-child(5){font-size: 17px;}
.product .product-info div p:nth-child(6){}
.product .product-info div input {
	width: 80px;
	height: 30px;
	font-size: 16px;
}

.product .order-btn, .pay .order-btn, .order-success .order-btn, .find-order .order-btn{
	width: 190px;
	height: 80px;
	background-color: rgba(254,67,30);
	color: white;
	font-size: 20px;
}

.product .tab a {
	display: inline-block;
	float: left;
	height: 100px;
	width: 50%;
	border: 1px solid gray;
	box-sizing: border-box;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
}
.product .tab a:hover {
	border: 1px solid rgba(254,67,30);
	color: rgba(254,67,30);
}

.product .product-bottom{
	padding-top: 100px;
	text-align: center;
	font-size: 18px;
}

.right{
	text-align: right;	
}


/* orderForm.jsp */

.order-form .order-product {
	padding: 30px 0;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.order-form .order-product ul li {
	float: left;
	width: 25%;
	height: 150px;
	line-height: 150px;
	font-size: 17px;
	text-align: center;
}

.order-form form {width: 80%;margin: 0 auto;}
.order-form input {
	width: 250px;
	height: 40px;
	font-size: 17px;
}
.order-form p {font-weight: bold;}

.order-form table {width: 100%;}
.order-form table tr:first-child {border-top: 1px solid lightgray;}
.order-form table td {
	height: 80px;
	font-size: 17px;
	border-bottom: 1px solid lightgray;
}
.order-form table td:first-child {text-align: center;width: 30%;}

.order-form input.num {text-align: center;}
.order-form .order {margin: 100px 0;}
.order-form select.phone {height: 45px;font-size: 17px;text-align: center;}
.order-form .phone {width: 73px;}
.order-form .post {width: 80px;}
.order-form .address {width: 400px;}
.order-form .memo {width: 600px;}
.order-form input[type=radio] {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}


/* orderSuc.jsp */
.order-success {text-align: center;}
.order-success p.order-no{font-size: 17px;margin:20px 0;}
.order-success p.order-no span{color:rgba(254,67,30);font-size: 20px; font-weight: bold;}
.order-success button{margin-top: 50px;}
.order-success input {width: 250px; height: 40px; font-size: 17px;}
.order-success .phone {width: 73px;}


/* findOrder.jsp */
.find-order {text-align: center;}
.find-order table {text-align: center;width:50%;margin:0 auto;}
.find-order table td{height: 50px;font-size: 17px;}
.find-order p.order-no{font-size: 17px;margin:20px 0;}
.find-order button{margin-top: 50px;}
.find-order input {width: 250px; height: 40px; font-size: 17px;}
.find-order .phone {width: 71px;}


/* orderList.jsp */
#orderListBox p.total{font-size: 17px;margin:20px 0;}
#orderListBox input[type=radio]{width:20px;height: 20px;}
#orderListBox .order-search{text-align: left; padding-left: 20px;}



/* myOrder.jsp */
.order-view tr.tr-title td{background-color: #f5f5f5; font-weight: bold; font-size: 15px;}